<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  {% include header.html %}

  <!-- Banner -->
  <section id="banner" class="major">
    <div class="inner">
      <header class="major">
        <h1>{{ page.landing-title }}</h1>
      </header>
      <ul class="actions">
        <a href="about_me.html" class="button next scrolly">About Me</a>
        <a href="science.html" class="button next scrolly">Science</a>
        <a href="art.html" class="button next scrolly">Art</a>
        <a href="things.html" class="button next scrolly">Things</a>
      </ul>
    </div>
  </section>

  {% include footer.html %}
  {% include scripts.html %}

</body>

</html>
