<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  {% include menu.html %}
  {% include header.html %}

  <!-- Banner -->
  <section id="banner" class="major">
    <div class="inner">
      <header class="major">
        <h1>{{ page.landing-title }}</h1>
        <p>{{ page.content }}</p>
      </header>
      <ul class="actions">
        <a href="about_me" class="button next scrolly">About Me</a>
        <a href="science" class="button next scrolly">Science</a>
        <a href="art" class="button next scrolly">Art</a>
        <a href="things" class="button next scrolly">Things</a>
        <a href="contact_me" class="button next scrolly">Contact Me</a>
      </ul>
    </div>
  </section>

  {% include footer.html %}
  {% include scripts.html %}

</body>

</html>
